.EditForm {
  h2 {
    color: #ccc;
    text-align: center;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }

  .Error {
    color: red;
    margin: auto;
    text-align: center;
    margin-bottom: 1rem;
  }

  .Image {
    text-align: center;

    img {
      display: block;
      padding: 1rem 0;
      border-radius: 50%;
      width: 20rem;
      margin: auto;
      margin-bottom: 0.5rem;
    }
  }

  .InputField {
    border-width: 10px;
    margin: 2% 1%;

    &.Small {
      width: 48%;
    }

    &.Wide {
      width: 98%;
    }

    input {
      font-size: 1.5rem;
    }
  }

  .ButtonContainer {
    text-align: center;
    margin: 2rem 0;

    button {
      width: 50%;
      font-size: 1rem;
      height: 4rem;
      color: #fff;
    }
  }

  height: 100%;
  overflow-x: scroll;
  background: #1f1f1f;
  width: 70%;
  margin: 3rem auto;

  @media (max-width: 424.98px) {
    width: 90%;
  }
}

.ProfileContainer {
  background-color: #1f1f1f;

  .ProfileNav {
    height: 100vh;
    width: 8rem;
    position: fixed;
    background: #000;
    z-index: 1;

    ul {
      display: flex;
      flex-direction: column;

      li {
        list-style: none;
        margin: 1rem 0;

        img {
          width: 50%;
          display: block;
          margin: auto;

          @media (max-width: 424.98px) {
            margin-top: 1rem;
          }
        }

        a {
          padding: 0.5rem;
          display: flex;
          flex-direction: column;
          color: #fff;
          align-items: center;

          @media (max-width: 424.98px) {
            padding: 1.3rem 2rem;
          }

          span {
            @media (max-width: 424.98px) {
              display: none;
            }
          }
        }

        @media (max-width: 424.98px) {
          margin: 0;
        }
      }

      @media (max-width: 424.98px) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
    }

    @media (max-width: 424.98px) {
      width: 100vw;
      height: 5rem;
    }
  }

  main {
    margin-left: 8rem;
    background: #1f1f1f;
    color: #fff;
    display: flex;

    @media (max-width: 767.98px) {
      flex-direction: column;
    }

    @media (max-width: 424.98px) {
      margin-left: 0;
    }

    .Details {
      width: 40%;
      background: #000;
      height: 100vh;
      overflow-x: scroll;

      @media (max-width: 767.98px) {
        width: 100%;
        height: fit-content;
        overflow-x: unset;
      }

      .Info {
        padding: 5% 3%;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          padding: 1rem 0;
          border-radius: 50%;
          width: 20rem;
          margin-bottom: 0.5rem;
        }

        @media (max-width: 424.98px) {
          margin-top: 4rem;
        }
      }

      .Detail {
        margin: 1rem;
        padding: 1rem 0;
        border-bottom: 1px solid #1f1f1f;

        h5 {
          font-weight: lighter;
        }
      }
    }

    .Aside {
      width: 60%;

      @media (max-width: 767.98px) {
        width: 100%;
      }

      p {
        margin: 4rem 0;
        text-align: center;
        font-size: small;
      }

      .Actions {
        button {
          height: 4rem;
          width: 40%;
          margin: 5%;
        }
      }
    }
  }
}
