.Black {
  background: #000;
  color: #fff;
}

nav {
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a img {
    width: 70%;

    @media (max-width: 991.98px) {
      width: 60%;
    }
  }

  @media (max-width: 767.98px) {
    padding: 1rem;
  }

  ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-content: stretch;

    @media (max-width: 767.98px) {
      display: none;
    }

    li {
      list-style: none;
      margin-right: 2rem;
      padding: 2rem;

      @media (max-width: 991.98px) {
        padding: 0.5rem;
        margin-right: 1.5rem;
        font-size: medium;
      }
    }
  }

  .Signin {
    text-decoration: none;
    background: #000;
    border: solid 1px #00bf00;
    font-size: 1.5rem;
    padding: 1rem;
    color: #00bf00 !important;

    @media (max-width: 767.98px) {
      display: none;
    }
  }
}

.NotFound {
  background-color: #1f1f1f;
  padding-top: 5%;
  padding-bottom: 5%;

  img {
    display: block;
    width: 50%;
    margin: auto;
  }
}

footer {
  padding: 8rem 3rem;
  font-size: 1.2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;

  h3 {
    display: inline-block;
    padding-bottom: 5px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 30px;
      height: 10px;
      left: 0;
      bottom: 0;
      border-bottom: 3px solid #fff;
    }

    @media (max-width: 767.98px) {
      margin-top: 3rem;
    }
  }

  ul {
    li {
      list-style: none;
      padding-top: 1.5rem;
      font-weight: 100;
    }
  }

  .Socials {
    display: flex;
    flex-direction: column;

    .Images {
      display: flex;
      justify-content: center;

      img {
        margin-right: 1rem;
      }

      @media (max-width: 767.98px) {
        justify-content: flex-start;
      }
    }
  }

  @media (max-width: 767.98px) {
    flex-direction: column;
  }
}

.NavButton {
  display: none;
  background: #000;
  color: #00bf00;
  border-color: transparent;

  @media (max-width: 767.98px) {
    display: block;
  }
}

.Close {
  float: right;
  margin: 1rem 2rem;
}

.Sidenav {
  @media (min-width: 768px) {
    display: none;
  }

  &Content {
    height: 100%;
    width: 100%;

    ul {
      margin-right: 30rem;
      margin-top: 10rem;

      @media (max-width: 575.98px) {
        margin-right: 4rem;
      }

      li {
        margin: 5rem;
        list-style: none;
      }
    }
  }
}
