*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 10px default */
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: 'Open Sans', 'Montserrat', Helvetica, Arial, sans-serif;
}

a,
a:active,
a:visited,
a:focus,
a:link {
  color: inherit;
  text-decoration: none;
}
